@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
}

.navbar{
    display: flex;
    height: 67px;
    font-family: 'Oswald', sans-serif;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
}

.topright {
    width: 50%;
}

.section1{
    max-height: 100vh;
   
}

.section1 h1{
    font-size: 2rem;
}

.section1 p{
    
}

.p-text{
    font-size: large;
    
}

.logo{
    font-size: 1.4rem;
}

.dumbellimg{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.topright .gymimg{
    width: 466px;
}

.section2{
    padding: 75px;
}

.section2 h1{
    font-size: 2.5rem;
}

.section2 p{
    font-size: medium;
    padding: 0 6vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(71, 109, 162);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 14px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
    margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 145px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{
    width: 23vw;
    border-bottom: 2px solid black;
    padding: 15px 0;
}

.section3 table td{
    border-bottom: 2px solid black;
}

.section3 h1{
    font-size: 2.5rem;
}

.section3{
    padding: 75px;
}

footer{
    padding: 25px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.7rem;
    font-weight: bolder;
    margin: 12px 0;
}